body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #4e4e4e;
    font-family: Arial, sans-serif;
}
.wheel-container {
    position: relative;       
}
.inventory-container {
    position: relative;      
}
.controls {
    margin-top: 10px;
}
canvas {
    background-color: #ffffff;    
}
.pointer {
    position: absolute; 
    top: 110px;
    transform: translateY(-300%);
    width: 60px;
    height: 60px;    
}
.spin-button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #007BFF;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}
.spin-button:hover {
    background-color: #0056b3;
}    